:root{
    --primary-color: #012d56;
    --secondary-color: #ffd561;
    --secondary-color-transparent: #ffd56180;
    --tertiary-color:#801308;
    --accent1-color: #ffffff;
    --accent2-color: #550e06;
    --accent3-color: #daa039; 
    --accent4-color: #07a302; 
    --accent5-color: #eee;
    --accent6-color: #8ea9c288;

    --title-font: 'Roboto', sans-serif;
    --text-font: 'Merriweather', sans-serif;
}

header{
    font-family: var(--title-font);
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
}

header img{
    width: 15rem;
    border-radius: 1rem;
}

header h1{
    color: var(--secondary-color);
}

#mode {
	position: absolute;
	top: 1rem;
	left: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
    color: var(--accent1-color);
    background-color: var(--primary-color);
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color:  var(--secondary-color-transparent);
 	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";

}

#menu.open::before {
	content: "✖️";
}

.navigation{
    font-family: var(--title-font);
    height: 0px;
    display: none;
}

.navigation.open{
    background-color: var(--tertiary-color);
    height: 12rem;
    text-align: center;
    display: block;
}

.navigation ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    height: 12rem;
    padding: 0%;
}

a{
    color: var(--accent1-color);
    text-decoration:none;
}

.navigation ul li{
    flex: 1 1 100%;
    padding-top: 1rem;
    width: 100%;
}

.navigation a:hover{
    color: var(--accent3-color);
    text-decoration: underline;
}

.navigation li:hover{
    background-color: var(--accent2-color);
    width: 100%;
}

.active{
    color: var(--secondary-color);
    text-decoration: underline;
}

/* Banner */
.banner {
    background-color: var(--secondary-color);
    padding: 10px;
    text-align: center;
    position: relative;
    z-index: 1000;
}
.banner button {
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Main */
main{
    display: grid;
    grid-gap: 1rem;
    justify-items: center;
    padding: 1rem;
    height: auto;
    text-align: center;
}

main section{
    font-family: var(--text-font);
    border: solid 1px var(--primary-color);
    width: 95%;
}

main section h2{
    font-family: var(--title-font);
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
    margin: 0;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

main section p{
    padding: 1rem;
}

main img{
    padding: 1rem;
    width: 20rem;
}
    
.discoverWeather {
    grid-column: 1/2;
    grid-row: 2/3;
}

.discoverCalendar {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 1rem;
}

.calendar {
    border:solid 1px var(--accent6-color);
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 0;
}

.elfsight-app-50535a9b-a163-4486-9c3e-4d0ac854f757{
    display: grid;
    justify-content: center;
    padding: 1rem;
}

section {
    border-radius: 1rem;
    box-shadow: 0 0 20px 0.1px var(--primary-color);

}

.discoverVisits {
    font-size: larger;
    font-family: var(--title-font);
}

figure {
    font-family: var(--title-font);
}

figure img {
    animation: fade 15s;
    box-shadow: 0 0 20px 0.1px var(--primary-color);
}

/*Join form */
.formMain {
    text-align: left;
}

.joinForm {
    grid-column: 1/2;
    font-family: var(--paragraph-font);
    width: 100%;
    max-width: 500px;
    padding: 2rem;
}

.joinForm fieldset {
    padding: 5% 7% 5% 7%;
    margin: 2rem 0;
    border: solid 1px var(--primary-color);
    min-width: 27rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 4px var(--primary-color);
}

.joinForm label, #rangevalue {
    display: block;
    color: var(--tertiary-color);
    font-size: 1rem;
    margin-top: 1rem;
}
.joinForm label:not(.radio) {
    padding-top: 1rem;
}

.joinForm input[type="text"],
.joinForm input[type="tel"],
.joinForm input[type="email"] {
    background-color: var(--accent5-color);
    border: solid 1px var(--accent2-color);
    border-radius: 6px;
    padding: .75rem;
    color: var(--primary-color);
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.joinForm textarea {
    background-color: var(--accent5-color);
    border: solid 1px var(--accent2-color);
    padding: .75rem;
    border-radius: 6px;
    width: 400px;
    height: 100px;
    color: var(--primary-color);
}

.joinForm input[type="radio"] {
    margin-right: 6px;
}

.joinForm legend {
    color: var(--primary-color);
    background-color: var(--accent1-color);
    padding: 0 .5rem;
    font-size: 1.3rem;
}

.joinForm div {
    padding-top: 1.5rem;
    color: var(--primary-color);
    font-size: 1rem;
}

.joinForm input[type="submit"] {
    font-family: var(--paragraph-font);
    font-size: medium;
    border: none;
    background-image: linear-gradient(var(--tertiary-color), var(--accent2-color));
    color: var(--accent1-color);
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 300px;
    margin: 1rem 5% 1rem .5%;
    box-shadow: 1px 1px 4px var(--accent2-color);
}

.joinForm input:required {
    border-right: solid 8px var(--tertiary-color);
}

.joinForm input:required:valid {
    border: solid 1px var(--primary-color);
    border-right: solid 8px var(--accent4-color);
}

.thankyouMain {
    align-items: center;
    padding: 100px;
    height: 100%;
    min-height: 500px;
    max-height: 720px;
    font-size: larger;
    font-family: var(--text-font);
}

/* Benefits Table */
.benefitsTable {
    grid-column: 1/2;
    text-align: center;
    border-collapse: collapse;
}

.benefitsTable thead {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--title-font);
    font-size: 1.3rem;
}

.benefitsTable th {
    background-color: var(--tertiary-color);
    padding: 1rem;
}

.benefitsTable th:not(.tableTitle, :first-child, :last-child) {
    border-right: solid 1px var(--primary-color );
}

.benefitsTable .tableTitle {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.benefitsTable th:first-child {
    background-color: var(--primary-color);
}

.benefitsTable tbody {
    font-family: var(--text-font);
    font-size: large;
}

.benefitsTable td {
    padding: 0.5rem;
    font-weight: bold;
	border: 1px solid var(--accent6-color);
}

.benefitsTable tr:nth-child(even) {
    background-color: var(--accent6-color);
}

.benefitsTable caption {
    font-family: var(--text-font-font);
    caption-side: bottom;
    padding-top: 1rem;
}

/* Directory Cards */
.directoryMain #cards {
    text-align: center;
    background-color: var(--accent1-color);
    grid-template-columns: 1fr;
    border: solid 20px var(--color1);
    box-shadow: 1px 1px 30px var(--color4);
}

.directoryMain #cards a {
    color: var(--accent2-color);
}

.directoryMain #cards a:hover {
    color: var(--tertiary-color);
}

.directoryMain #cards section {
    display: block;
    background-color: var(--accent6-color);
    border: solid 1px var(--color2);
    margin: 5px;
    min-width: 300px;
}

.directoryMain #cards img {
    background-color: var(--primary-color);
    box-shadow: 1px 1px 15px var(--primary-color);
    position: relative;
    height: auto;
    max-width: 150px;
    max-height: 100px;
    top: 1rem;;
}

/* Grid/List View*/
.directoryMenu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: var(--accent6-color);
	text-align: center;
}

.directoryMenu button {
	padding: 1rem;
	font-weight: 700;
}

.list {
	display: flex;
	flex-direction: column;
}

.list p {
    margin: 0;
    padding: 5px;
    margin-bottom: 0.5rem;
}

.list section {
	display: grid;
}

.list section img {
	display: none;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid p {
    margin: 0;
    padding: 5px;
    margin-bottom: 0.5rem;
}
 .grid img {
    margin-bottom: 2rem;
 }

.grid section {
    max-height: 500px;
}

/* Weather Section */
.indexWeather li{
    position: relative;
    list-style-type:none;
    top: -30px;
}

.indexWeather h4 {
    position: relative;
    top: 30px;
}

.weather-icon {
    position: relative;
    height: 50px;
    width: auto;
}

.future-weather-icon {
    position: relative;
    height: 50px;
    width: auto;
    top: 30px;
}

#current-temp, #weather-descr {
    position: relative;
    top: -35px;
}

/* Spotlight */
.spotlights a
{
    color: var(--primary-color);
}

/* Footer */
footer{
    font-family: var(--text-font);
    background-color: var(--accent3-color);
    color: var(--primary-color);
    text-align: center;
    padding: 1rem;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1  ;
    }
}