@media screen and (min-width: 600px) {

    html {
        height: 100%;
    }

    body{
        height: 100%;
    }

    #menu {
		display: none;
	}
    
    .navigation.open, .navigation{
        font-family: var(--title-font);
        background-color: var(--tertiary-color);
        height: 3rem;
        text-align: center;
        display: block;
    }
    
    .navigation ul{
        flex-direction: row;
        height: 3rem;
    }

    .navigation ul li{
        padding: 0%;
    }

    .navigation li:hover{
        height: 1rem;
        padding-top: 0.9rem;
        padding-bottom: 1.1rem;
    }

    .indexMain {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: auto;;
    }    

    .discoverMain {
        display: grid;
        align-items: center;
        grid-template-columns: 0.5fr 1fr 3fr 0.5fr;
        grid-template-rows: 0.1fr repeat(6, 0.5fr);
        height: auto;
    }

    .indexHero {
        grid-column: 1/2;
        width: 100%;
        height: 100%;
    }

    .indexAction {
        grid-column: 2/3;
        width: 100%;
        height: 100%;
    }

    .indexWeather {
        grid-column: 3/4;
        width: 100%;
    }

    .discoverVisits {
        grid-column: 2/3;
        grid-row: 1/2;
        margin-top: 1rem;
    }

    .discoverAttractions {
        grid-column: 2/3;
        height: auto;
        min-height: 70%;
        grid-row: 2/3;
    }

    .discoverWeather {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .discoverCalendar {
        grid-column: 2/3;
        grid-row: 4/5;
    }

    .indexEvents{
        grid-column: 1/4;
        width: 100%;
    }

    .spotlights {
        grid-column: 1/4;
        width: 100%;
    }

    .separator {
        grid-column: 3/4;
        grid-row: 1/2;
        border: 0;
    }

    figure {
        grid-column: 3/4;
    }

    figure img {
        width: 550px;
    }

    figure:hover > img{
        background-color: var(--secondary-color-transparent);
        box-shadow: 0 0 50px 0.1px var(--primary-color);
    }

    figure:hover > figcaption {
        font-weight: bold;
        font-family: var(--title-font);
    }
    
    .benefitsTable {
        grid-column: 2/3;
    }
    
    .thankyouMain {
        align-items: baseline;
    }
    
    .directoryMain #cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }    

    .list section img {
        display:inline;
        margin-bottom: 1rem;
    }

    /* Weather Section */
    .weather-icon {
        top: 35px;
    }
    
    #current-temp, #weather-descr {
        position: relative;
        top: 0;
    }
}