@import url('https://fonts.googleapis.com/css2?family=Merriweather&amp;family=Roboto&amp;display=swap');

:root{
    --primary-color: #154A82;
    --secondary-color: #44301E;
    --primary-color--transparent: #154A8280;
    --secondary-color-transparent: #44301E80;

    --accent1-color: #FFFFFF;
    --accent2-color: #FFBF52;    
    --accent1-color-transparent: #FFFFFF80;
    --accent2-color-transparent: #FFBF5280;    

    --heading-font: 'Arial', sans-serif;
    --paragraph-font: Merriweather, Georgia, serif;
}

header{
    background-color: var(--primary-color);
}

header h1{
    color: var(--accent1-color);
    grid-column: 2/3;
    padding: 1rem;
}

header span{    
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
span img{
    max-height: 8rem;
    margin: 1rem;
    grid-column: 1/2;
    box-shadow: 0 0 20px 2px #000;
}

nav{
    background-color: var(--secondary-color);
    height: 12rem;
    text-align: center;
}

nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    height: 12rem;
    padding: 0%;
}

nav ul li{
    flex: 1 1 100%;
    padding-top: 1rem;
    width: 100%;
}

nav a{
    text-decoration: none;
    color: var(--accent1-color);
}

nav li:hover{
    background-color: var(--accent2-color);
    width: 100%;
}

nav a:hover{
    color: var(--secondary-color);
}

.active{
    color: var(--accent1-color-transparent);
}

main {
    display: grid;
    justify-content: space-around;
    grid-template-rows: 0.1fr 1fr 1fr;
}

main h2{
    text-align: center;
    height: 3rem;
}

.card {
    border-radius: 0.5rem;
    border: 1px solid gray;
    margin: 1rem;
    box-shadow: 0 0 20px 2px #000;
}

.card h2{
    color: var(--accent1-color);
    background-color: var(--primary-color);
    padding-top: 1rem;
    margin: 0%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.card ul{    
    list-style-type: none;
}

footer{
    color: var(--accent1-color);
    align-content: center;
    text-align: center;
    background-color: var(--primary-color);
    height: 5rem;
}

footer #lastModified{
    color: var(--accent2-color);
    font-size: small;
}