:root{
    --primary-color: #154A82;
    --secondary-color: #44301E;
    --primary-color--transparent: #154A8280;
    --secondary-color-transparent: #44301E80;

    --accent1-color: #FFFFFF;
    --accent2-color: #FFBF52;    
    --accent1-color-transparent: #FFFFFF80;
    --accent2-color-transparent: #FFBF5280;    

    --heading-font: 'Arial', sans-serif;
    --paragraph-font: 'Merriweather', Georgia, serif;
    --footer-font: 'Roboto', serif;
}

header{
    font-family: var(--heading-font);
    background-color: var(--primary-color);
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

header span{
    font-size: 2rem;
    color: var(--accent1-color);
    grid-column: 2/3;
    padding: 1rem;
}

header img{
    max-height: 8rem;
    margin: 1rem;
    grid-column: 1/2;
    box-shadow: 0 0 20px 2px #000;
}

#mode {
	position: absolute;
	top: 1rem;
	left: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
    color: var(--accent2-color);
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: var(--accent1-color-transparent);
 	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation{
    height: 0px;
    display: none;
}

.navigation.open{
    font-family: var(--heading-font);
    background-color: var(--secondary-color);
    height: 12rem;
    text-align: center;
    display: block;
}

.navigation li:hover{
    height: 0px;
}

.navigation ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    height: 12rem;
    padding: 0%;
}

.navigation ul li{
    flex: 1 1 100%;
    padding-top: 1rem;
    width: 100%;
}

a{
    text-decoration: none;
    color: var(--accent1-color);
}

.navigation li:hover{
    background-color: var(--accent2-color);
    width: 100%;
}

.navigation a:hover{
    color: var(--secondary-color);
    text-decoration: underline;
}

.active{
    text-decoration: underline;
}

main {
    font-family: var(--paragraph-font);
    display: grid;
    justify-content: space-around;
    grid-template-rows: 1fr 0.1fr auto auto;
    height: auto;
}

main h2 {
    text-align: center;
    height: 3rem;
}

main a {
    color: var(--primary-color);
}

.temple {
    position: absolute;
    top: 25rem;
    left: 2rem;
    background-color: var(--accent1-color-transparent);
    padding: 1rem;
    border-radius: 0.5rem;
    border: solid 1px var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--heading-font);
    box-shadow: 0 0 20px 2px var(--primary-color--transparent);
}

.hero img {
    width: 100%;
    height: auto;
}

.card {
    border-radius: 0.5rem;
    border: 1px solid gray;
    margin: 1rem;
    box-shadow: 0 0 20px 2px #000;
    height: auto;
}

.card h2{
    color: var(--accent1-color);
    background-color: var(--primary-color);
    padding-top: 1rem;
    margin: 0%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.card ul {    
    list-style-type: none;
}

.card p {
    padding-left: 1rem;
}

.iframe {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 1rem;
    animation: fade 15s;
}

footer{
    font-family: var(--footer-font);
    color: var(--accent1-color);
    align-content: center;
    text-align: center;
    background-color: var(--primary-color);
    height: 5rem;
    padding: 1rem;
    height: auto;
}

footer #lastModified{
    color: var(--accent1-color);
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1  ;
    }
}