@media screen and (min-width: 400px) { 
	#menu {
		display: none; /* hide hamburger button */
	}
    
    .navigation.open, .navigation{        
        height: 3rem;
        font-family: var(--heading-font);
        background-color: var(--secondary-color);
        text-align: center;
        display: block;
    }

    .navigation ul{
        flex-direction: row;
        height: 3rem;
    }

    .navigation li:hover{
        height: 1rem;
        padding-top: 0.9rem;
        padding-bottom: 1.1rem;
    }

    .navigation ul li{
        padding: 0%;
    }

    html {
        height: 88%;
    }

    body{
        height: 85%;
    }
    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 0.1fr auto;
    }

    main h1{
        grid-column: 1/3;
        margin-left: 1rem;
    }

    main h2{
        text-align: center;
        height: 3rem;
    }

    .temple {
        top: 15rem;
    }

    .hero {
        grid-column: 1/3;
    }
}